.pageindex{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    @apply text-white;
    background: linear-gradient(
      -45deg,
      rgba(40, 39, 45, 1),
      rgba(87, 85, 119, 1),
      rgba(40, 39, 45, 1),
      rgba(87, 85, 119, 1),
      rgba(40, 39, 45, 1)
    );
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}