@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&family=Protest+Riot&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  @apply text-white;
  background-image: url(./assets/background-latar.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
